@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap");
/*#region Font-face */
@font-face {
  font-family: "Poppins-Bold";
  src: url("fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Thin";
  src: url("fonts/Poppins-Thin.ttf") format("truetype");
}
/*#endregion */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*#region Tin tức và Sự kiện */
.main-nav {
  background-color: #1A3C6A !important;
}
.main-nav .navbar {
  background-color: #1A3C6A !important;
  border-bottom: 1px solid #b2b2b2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.main-nav .navbar .navbar-brand img {
  padding-left: 2rem;
  height: 60px;
}
.main-nav .navbar .navbar-nav {
  padding-right: 2rem;
}
.main-nav .navbar .navbar-nav .dropdown {
  position: relative;
  transition: 1s;
}
.main-nav .navbar .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
.main-nav .navbar .navbar-nav .dropdown .dropdown-menu {
  background-color: #1A3C6A;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  display: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.main-nav .navbar .navbar-nav .dropdown .dropdown-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}
.main-nav .navbar .navbar-nav .dropdown .dropdown-menu li:last-child {
  border-bottom: none;
}
.main-nav .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  color: #ffffff;
  padding: 0.5rem 0.5rem;
  font-size: 20px;
  font-weight: 600;
}
.main-nav .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background-image: linear-gradient(to right bottom, #1a3c6a, #144887, #0954a5, #0060c4, #036be3);
}
.main-nav .navbar .navbar-collapse {
  padding: 0 1rem;
}
.main-nav .navbar .navbar-collapse .nav-link {
  font-size: 18px;
  font-weight: 600;
  padding-left: 1.5rem;
  color: #ffffff;
}
.main-nav .navbar .navbar-collapse .nav-link.active {
  color: #F76D37;
}
.main-nav .navbar .navbar-collapse .nav-link:hover {
  color: #F76D37;
}
.main-nav.fixed {
  background-color: #252525 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-banner {
  padding-top: 5.5rem;
}
@media only screen and (max-width: 991px) {
  .main-banner .owl-item img {
    aspect-ratio: 4/3;
    max-height: 200px;
  }
}
.main-banner .owl-carousel {
  position: relative;
}
.main-banner .owl-carousel img {
  width: 100%;
  height: 590px;
}
.main-banner .owl-carousel .owl-nav {
  text-align: center;
  display: none;
}
.main-banner .owl-carousel .owl-dots {
  position: absolute;
  bottom: 5px;
  left: 65%;
  transform: translateX(-50%);
  color: #252525;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .main-banner .owl-carousel .owl-dots {
    left: 70%;
  }
}
.main-banner .owl-carousel .owl-dots .owl-dot {
  margin: 0 0.5rem;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: #d6cfcf;
  transition: 0.3s;
}
@media only screen and (max-width: 991px) {
  .main-banner .owl-carousel .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    margin: 0 0.25rem;
  }
}
.main-banner .owl-carousel .owl-dots .owl-dot.active {
  background: #ffffff;
}
.main-banner .owl-carousel .owl-dots .owl-dot:hover {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #ffffff;
}

.latest-news {
  display: block;
  margin: auto;
}
.latest-news h3 {
  color: #d72027;
  font-weight: 600;
  padding: 15px 0 0 15px;
}
.latest-news .event .row {
  padding: 1rem 0;
}
.latest-news .event .row .avatar {
  overflow: hidden;
  border-radius: 15px;
}
.latest-news .event .row .avatar a img {
  width: 100%;
  height: 250px;
  padding: 3px;
  border-radius: 15px;
  transition: 0.3s;
}
.latest-news .event .row .avatar a img:hover {
  transform: scale(1.1);
}
.latest-news .event .row .content {
  padding: 10px 0;
  padding-left: 10px;
}
.latest-news .event .row .content strong a {
  color: #d72027;
  font-size: 20px;
  padding: 10px 0;
  text-decoration: none;
}
.latest-news .event .row .content p {
  color: #252525;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-academic-news {
  background: url("../../images/new&even/bgsk.png");
  background-size: cover;
  width: 100%;
  padding: 50px 0;
}
.main-academic-news .header-top {
  margin-bottom: 30px;
}
.main-academic-news .header-top .text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .main-academic-news .header-top .text-header {
    display: block;
    margin: auto;
    text-align: center;
  }
}
.main-academic-news .header-top .text-header strong {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: #ffffff;
}
.main-academic-news .header-top .text-header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .main-academic-news .header-top .text-header a {
    text-align: center;
  }
}
.main-academic-news .header-top .text-header a:hover i {
  color: #FF0000;
}
.main-academic-news .header-top .text-header a h3 {
  font-size: 30px;
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
}
.main-academic-news .header-top .text-header a i {
  color: #d72027;
  font-size: 45px;
}
@media only screen and (max-width: 991px) {
  .main-academic-news .content .col-left {
    margin-bottom: 1.5rem;
  }
}
.main-academic-news .content .col-left .items {
  background: #ffffff;
  border: 10px solid #ffffff;
  border-radius: 10px;
}
.main-academic-news .content .col-left .items .academic-news-carousel .item img {
  width: 100%;
  height: 450px;
  aspect-ratio: 4/3;
}
@media only screen and (max-width: 991px) {
  .main-academic-news .content .col-left .items .academic-news-carousel .item img {
    height: 250px;
  }
}
.main-academic-news .content .col-left .items .academic-news-carousel .item .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.main-academic-news .content .col-left .items .academic-news-carousel .item .text p {
  font-size: 20px;
  font-weight: 600;
}
.main-academic-news .content .col-left .items .academic-news-carousel .item .text .btn {
  background: #d61e37;
  padding: 0.5rem 2rem;
  color: #ffffff;
}
.main-academic-news .content .col-left .items .academic-news-carousel .item .text .btn i {
  margin-left: 5px;
}
.main-academic-news .content .col-left .items .owl-dots {
  display: none;
}
.main-academic-news .content .col-left .items .owl-nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-academic-news .content .col-left .items .owl-nav .owl-prev {
  position: relative;
  font-size: 45px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 600;
  color: #ffffff;
  background: #1A3C6A;
}
.main-academic-news .content .col-left .items .owl-nav .owl-prev span {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.main-academic-news .content .col-left .items .owl-nav .owl-next {
  position: relative;
  font-size: 45px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 45px;
  font-weight: 600;
  color: #ffffff;
  background: #1A3C6A;
}
.main-academic-news .content .col-left .items .owl-nav .owl-next span {
  position: absolute;
  top: 35%;
  right: 10%;
  transform: translate(-50%, -50%);
}
.main-academic-news .content .col-right .items {
  display: flex;
  margin-bottom: 15px;
}
@media only screen and (max-width: 991px) {
  .main-academic-news .content .col-right .items {
    padding: 1rem 0;
    margin-bottom: 0;
  }
}
.main-academic-news .content .col-right .items .item-left {
  flex: 0 0 50%;
  position: relative;
  border-radius: 10px 0 0 10px;
}
.main-academic-news .content .col-right .items .item-left img {
  width: 100%;
  height: 180px;
  aspect-ratio: 4/3;
  object-fit: fill;
  border-radius: 10px 0 0 10px;
}
.main-academic-news .content .col-right .items .item-left .btn {
  position: absolute;
  bottom: 0;
  display: block;
  background: rgba(214, 30, 55, 0.5019607843);
  width: 100%;
  border-radius: 0 0 0 10px;
  color: #ffffff;
  font-size: 18px;
  transition: 0.5s;
}
.main-academic-news .content .col-right .items .item-left .btn:hover {
  background: #d61e37;
}
.main-academic-news .content .col-right .items .item-right {
  flex: 0 0 50%;
  background-color: #ffffff;
  border-radius: 0 10px 10px 0;
  padding: 20px 5px 0 20px;
}
.main-academic-news .content .col-right .items .item-right p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .main-academic-news .content .col-right .items .item-right p {
    text-align: left;
  }
}
.main-academic-news .content .col-right .items .item-right span {
  font-size: 14px;
  color: #1C2900;
}

.magazine-betu {
  padding: 2rem 0;
}
.magazine-betu .header-top {
  margin-bottom: 30px;
}
.magazine-betu .header-top .text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .magazine-betu .header-top .text-header {
    display: block;
    margin: auto;
    text-align: center;
  }
}
.magazine-betu .header-top .text-header strong {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: #252525;
}
.magazine-betu .header-top .text-header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .magazine-betu .header-top .text-header a {
    text-align: center;
  }
}
.magazine-betu .header-top .text-header a:hover i {
  color: #FF0000;
}
.magazine-betu .header-top .text-header a h3 {
  font-size: 30px;
  display: inline-block;
  font-weight: 600;
  color: #252525;
}
.magazine-betu .header-top .text-header a i {
  color: #d72027;
  font-size: 45px;
}
.magazine-betu .item {
  border: 3px solid rgba(229, 231, 234, 0.6117647059);
}
@media only screen and (max-width: 991px) {
  .magazine-betu .item {
    margin-bottom: 1rem;
  }
}
.magazine-betu .item img {
  width: 100%;
  max-height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s;
}
.magazine-betu .item img:hover {
  transform: scale(1.05);
}

.contact-betu {
  margin-top: 4rem;
  padding: 2rem 0;
  background-color: #1A3C6A;
}
.contact-betu .content-footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
.contact-betu .content-footer .logo-betu img {
  width: 100%;
  max-width: 400px;
}
.contact-betu .content-footer .contact h3 {
  font-size: 35px;
  color: #ffffff;
  padding: 1.5rem 0;
}
@media only screen and (max-width: 991px) {
  .contact-betu .content-footer .contact h3 {
    text-align: center;
  }
}
.contact-betu .content-footer .contact p {
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .contact-betu .content-footer .contact p {
    text-align: center;
  }
}
.contact-betu .content-footer .contact p i {
  font-size: 18px;
  color: #ffffff;
  padding-right: 0.5rem;
}
.contact-betu .content-footer .search {
  position: relative;
  top: 30%;
}
@media only screen and (max-width: 991px) {
  .contact-betu .content-footer .search {
    top: 10%;
  }
}
.contact-betu .content-footer .search p {
  font-size: 18px;
}
@media only screen and (max-width: 991px) {
  .contact-betu .content-footer .search p {
    text-align: center;
  }
}
.contact-betu .content-footer .facebook-betu {
  position: relative;
  top: 31%;
}
@media only screen and (max-width: 991px) {
  .contact-betu .content-footer .facebook-betu {
    top: 10%;
  }
}
.contact-betu .content-footer .facebook-betu .rules ul {
  text-align: right;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.contact-betu .content-footer .facebook-betu .rules ul li {
  padding: 0;
  padding-left: 1rem;
}

.copy-right .copyright-betu {
  padding: 1rem 0;
  text-align: center;
  font-size: 25px;
  background: #E2A821;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .copy-right .copyright-betu {
    padding: 0.3rem 0;
    font-size: 16px;
  }
}
.copy-right .copyright-betu p {
  margin: 0;
}

/*#endregion */
